<ion-header>
  <ion-toolbar>
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let faq of faqs" class="centered-card">
    <ion-card-header (click)="toggleAnswer(faq)">
      <ion-card-subtitle>{{faq.pregunta}}</ion-card-subtitle>
      <ion-icon [name]="faq.mostrarRespuesta ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
    </ion-card-header>

    <ion-card-content *ngIf="faq.mostrarRespuesta">
      {{faq.respuesta}}
    </ion-card-content>
  </ion-card>
</ion-content>
