.content {

    padding: 30px; /* Espaciado interno */
  }
  
  
  /* Títulos centrados */
  .centered-title {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: start;
    color: #ffffff; /* Violeta medio */
    margin: 10px 0;
    padding: 10px;
    background: #ffffff46; /* Fondo degradado azul celeste */
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin:10%;
  }
  
  /* Títulos de sección */
  .section-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff; /* Azul más oscuro */
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px; /* Espaciado entre letras */
    text-shadow:  0 4px 6px rgba(113, 255, 94, 0.3)/* Sombra sutil */
  }
  
  /* Botón personalizado */

  ion-button {
    display: flex;
    align-items: center;
    justify-content: center;
    --background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente del botón */
    --background-hover: rgba(255, 255, 255, 0.3); /* Fondo al pasar el mouse */
    --border-color: rgba(255, 255, 255, 0.4); /* Borde claro */
    --color: #fff; /* Color del texto */
    text-transform: none; /* Elimina el texto en mayúsculas, si prefieres */
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    margin:10%;
  }
  

  ion-button:hover {
    transform: scale(1.05); /* Ligeramente más grande */
    transition: transform 0.2s ease-in-out;
  }
  
  ion-button:active {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
  }